html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.imagem{
    background-image: url(../imagens/HEADERBG.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%; /*largura */
    height: 550px; /*altura */
    border-bottom: #f3db7d solid 3px;
}

/*NAV BAR DO HEADER*/
.overlay {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    color: white; /* Cor do texto */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-family: 'Arial', sans-serif; /* Altera a fonte */
    transition: color 0.3s ease; /* Suaviza a transição de cor */
}

nav ul li a:hover {
    color: #f3db7d; /* Altera a cor ao passar o mouse */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Adiciona uma sombra ao texto */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Cor inicial do botão */
    border: 2px solid white; /* Borda do botão */
    border-radius: 5px; /* Cantos arredondados */
    transition: all 0.3s ease; /* Efeito de transição */
}

.button:hover {
    transform: scale(1.1); /* Efeito de zoom */
    background-color: white; /* Cor de fundo ao passar o mouse */
    color: black; /* Cor do texto ao passar o mouse */
}

.logo {
    margin-left: 10px; /* Espaço entre o menu e a logo */
    margin-top: 5px;
}

.logo-image {
    height: 80px; /* Ajuste a altura da logo conforme necessário */
    width: 90px;
}

.text-image {
    position: absolute; /* Posiciona a imagem de texto em relação ao overlay */
    left: 50%; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    margin-top: 230px;
    transform: translate(-50%, -50%); /* Ajusta a posição para ficar exatamente no centro */
}

.text-image-content {
    max-width: 100%; /* Limita a largura da imagem de texto */
    height: 100px; /* Mantém a proporção */
}


.containerFLA{
    position: relative;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens para os extremos */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%;
    height: 600px;
    padding: 20px; /* Adiciona algum espaço ao redor do contêiner */
    box-sizing: border-box; /* Inclui padding na largura e altura total */
    margin-top: 100px;
    overflow: hidden;
}

.container_doisFLA{
    position: relative;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça os itens para os extremos */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%;
    height: 600px;
    padding: 20px; /* Adiciona algum espaço ao redor do contêiner */
    box-sizing: border-box; /* Inclui padding na largura e altura total */
    margin-top: 100px;
    margin-bottom: 200px;
    overflow: hidden;
}

.container_texto_umFLA{
    height: 400px;
    width: 400px;
    margin: 20px;
    padding-top: 200px;
}

.container_imagem_umFLA{
    height: 575px;
    width: 706px;
    background-image: url(../imagens/splash.png);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-size: cover;

}


.container_fundo_umFLA{
    height: 300px;
    width: 380px;
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    padding-left: 150px;
    padding-top: 100px;

}

.imagem_homeFLA{
    background-image: url(../imagens/imagem_home.jpeg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%; /*largura */
    height: 350px; /*altura */
    border-radius: 10px;
}



.container_texto_doisFLA{
    height: 700px;
    width: 500px;
    margin: 20px;
    padding-top: 180px;
}

.container_imagem_doisFLA{
    height: 575px;
    width: 656px;
    background-image: url(../imagens/splashazul.png);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-size: cover;

}


.container_fundo_doisFLA{
    height: 300px;
    width: 380px;
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    padding-left: 150px;
    padding-top: 40px;

}

.imagem_home_doisFLA{
    background-image: url(../imagens/hotel_pool.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%; /*largura */
    height: 450px; /*altura */
    border-radius: 10px;
}



.container_texto_tresFLA{
    height: 600px;
    width: 500px;
    margin: 20px;
    padding-top: 200px;
}

.container_imagem_tresFLA{
    position: absolute;
    height: 295px;
    width: 296px;
    border-radius: 15px;
    background-image: url(../imagens/gato_ferias.jpeg);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-size: cover;
    margin-left: 50%;
    margin-top: 10%;
    z-index: 1;
}


.imagem_home_tresFLA{
    position: relative;
    background-image: url(../imagens/cachorroferias.jpeg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 600px; /*largura */
    height: 280px; /*altura */
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 0%;
    z-index: 0;
}

.imagem_home_quatroFLA{
    position: absolute;
    background-image: url(../imagens/cachorro_ferias_dois.jpeg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 450px; /*largura */
    height: 220px; /*altura */
    border-radius: 10px;
    margin-left: 65%;
    margin-top: 25%;
    z-index: 0;
}


.quartoFLA {
    background-image: url(../imagens/quarto_hotel.JPEG);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    margin-bottom: 200px;
    position: relative; /* Necessário para o posicionamento absoluto do card */
}
.info {
    display: none; /* Inicialmente escondido */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto semitransparente */
    padding: 20px;
    color: #fff; /* Texto branco */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute; /* Para sobrepor à imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 5%; /* Move mais para a esquerda */
    width: 300px; /* Largura fixa do card */
    height: auto; /* Ajusta a altura automaticamente */
    transform: translate(-100%, -50%); /* Começa fora da tela à esquerda */
    display: flex; /* Usar flexbox para organizar o texto */
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    text-align: center; /* Centraliza o texto */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    line-height: 1.5; /* Aumenta o espaçamento entre linhas */
    opacity: 0; /* Inicialmente invisível */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave para posição e opacidade */
}

.visible {
    display: flex; /* Mostra o card como flexbox quando visível */
    transform: translate(0, -50%); /* Move para sua posição original */
    opacity: 1; /* Torna visível */
}

p{
   
font-size: 18px;
line-height: 1.8;
color: #555;
margin-bottom: 20px;
text-align: justify;
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 10px;

}

.hospedesFLA{
    font-size: 30px;
    line-height: 1.8;
    color: #0a0a0a;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 100px;
}

.avaliacao-tabelaFLA {
    width: 85%; /* Ocupará toda a largura disponível */
    height: 800px;
    margin-bottom: 40px; /* Margem na div em relação ao footer */
    margin-left: 100px;
    margin-right: 100px;
}

.avaliacao-tabelaFLA td {
    padding: 25px;
    border: 1px solid #e0e0e0; /* Adiciona bordas visíveis */
    text-align: center;
}

.avaliacao-tabelaFLA td:last-child {
    text-align: center;
}

.texto-loremFLA {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100px;
    
}

.estrelaFLA {
    margin: 0 2px;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 30px;
    color: #ffcc00; /* Cor das estrelas */
}

.estrelasFLA:hover {
    color: #ff9900;
}

.avaliacao-tabelaFLA tr:last-child td {
    border-bottom: none;
}


/*________PARTE DO ISAQUE_____________ */

  /* Área Kids */

.backtituloisa {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 100px;
    width: 1490px; /* Largura da área */
    height: 200px; /* Altura da área */
}

.tituloprincisa {
    padding: 1em;
}

.backintroisa {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 100px;
}

.introisa {
    padding: 1em;
}

.backgroundslideisa {
    height: 573px;
    
}

.galeriaisa{
    padding: 6em;
}

/* Slideshow */
.slideshow-containerisa {
  width: 80%;
  position: relative;
  margin: 5%;
}

/* Botões de próximo e anterior */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posição do botão "próximo" */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Background escuro */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Legenda */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Texto (1/3) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animação */
.fadeisa {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Tamanho do texto otimizado em telas menores */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



                                            /* Área da hospedagem pet */


.pettituloisa {
    padding: 4em;
}

.titulopetisa {
    font-size: 24px;
    padding: 1em;
}

.petparagrafosisa {
    padding: 1em;
    width: 100%; /* Largura da área */
    height: 400px; /* Altura da área */
    margin-bottom: 50px;
}

.petisa {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 100px;
}

.galeriapetisa {
    font-size: 24px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Segundo slideshow */

*{
    box-sizing: border-box;
}
  
  /* The grid: Four equal columns that floats next to each other */
  body {
    margin: 0;
    font-family: Arial;
}

/* O contêiner para evitar overflow */
.containerisas {
    overflow: hidden; /* Impede rolagem lateral */
}

/* O grid: quatro colunas iguais que flutuam uma ao lado da outra */
.columnisas {
    float: left;
    width: 25%; /* Mantém 25% da largura */
    padding: 10px; /* Padding para espaçamento */
    box-sizing: border-box; /* Certifica-se de que o padding está incluído na largura */
}

/* Estilo das imagens dentro do grid */
.columnisas img {
    opacity: 0.8; 
    cursor: pointer; 
    height: 200px;
    width: 100%; /* Faz a imagem ocupar 100% da coluna */
}

  
  .columnisas img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .rowisas:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .containerisas {
    position: relative;
    display: block;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }




/*        PAGINA DO CAUA     */


.header-mago {
    background: linear-gradient(90deg, #000000, #2b2a2c, #000000);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
  }
  
  .header-mago h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  
  .info-areaMago h2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.8em;
    color: #000000;
  }
  
  #toggle-arrow {
    margin-right: 10px;
  }
  
  #info-content {
    display: block; 
    padding: 10px;
    background: linear-gradient(90deg, #000000, #2b2a2c, #000000);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
  }
  
  
  .text-justify {
    text-align: justify;
  }
  .hidden {
    display: none;
  }
  
  .info-areaMago p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffffff;
  }
  
  .atracaoMago-section {
    margin-bottom: 30px;
    
  }
  
  .collapsible-content {
    display: block;
    padding: 10px;
  
  }
  
  .collapsible-content p, .collapsible-content ul {
    color: #000000;
  }
  
  .hidden {
    display: none;
  }
  
  h2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.8em;
    color: #050505;
  }
  
  .toggle-arrow {
    margin-right: 10px;
  }
  
  .locacaoMago, .atracaoMago, .principal-atracaoMago {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    height: 200px; 
    width: 100%; 
  }
  
  .locacaoMago img, .atracaoMago img, .principal-atracaoMago img {
    width: 200px; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 15px; 
    margin-right: 30px; 
  }
  
  .locacaoMago h3, .atracaoMago h3, .principal-atracaoMago h3,
  .locacaoMago p, .atracaoMago p, .principal-atracaoMago p {
    font-size: 1.3rem; 
    color: #000000; 
    margin: 0; 
    padding: 0; 
  }
  
  .locacaoMago h3, .atracaoMago h3, .principal-atracaoMago h3 {
    margin-bottom: 10px; 
  }
  
  .locacaoMago p, .atracaoMago p, .principal-atracaoMago p {
    line-height: 1.6;
    margin-top: 5px;
  }
  
  .locacaoMago h3, .locacaoMago p, .atracaoMago h3, .principal-atracaoMago h3 {
    width: calc(100% - 250px); 
  }
  
  
  .transporteMago-section, .restaurant-section, .principal-atracaoMago-section {
    margin: 30px auto; 
    padding: 0 20px;
  }
  
  
  .transporteMago-section h2, .restaurant-section h2, .principal-atracaoMago-section h2 {
    font-size: 1.8rem;
    color: #050505;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  
  .locacaoMago, .atracaoMago, .principal-atracaoMago {
    display: flex;
    flex-direction: row; 
  }
  
  .collapsible-content {
    display: none;
  }
  
  h2 {
    cursor: pointer;
  }
  
  h2 .toggle-arrow {
    margin-right: 10px;
  }


/*       RODAPÉ DA PAGINA         */

#footer {
    width: 100%;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    background: linear-gradient(to top, #000000, #1a1919);
    display: flex;
    margin-top: 20px;
    flex-direction: column; /* Alinha o conteúdo em coluna */
    align-items: center; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona algum espaçamento interno */
    box-sizing: border-box; /* Inclui padding na largura e altura total */
}

.icons-container {
    display: flex;
    gap: 20px; /* Espaço entre os ícones */
}

.icon {
    display: flex;
    flex-direction: column; /* Coloca o texto abaixo do ícone */
    align-items: center; /* Centraliza o texto abaixo do ícone */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
}

.icon img {
    margin-bottom: 5px; /* Espaço entre o ícone e o texto */
}

.icon:hover {
    transform: scale(1.3); /* Aumenta o ícone ao passar o mouse */
    background-color: transparent;
    border-radius: 50%; /* Mantém ícone redondo ao hover */
    padding: 5px; /* Espaço interno ao hover */
}

.footer-text {
    margin-top: 20px; /* Espaço entre os ícones e o texto do rodapé */
    color: white; /* Cor do texto do rodapé */
}
